<div class="right-col">
    <form action="#" method="POST">
      <input type="text" name="content" placeholder="Search Twitter">
    </form>
    <div class="right-side">
      <h2>Trends for you</h2>
      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quos?</p>
        </div>
      </div>

      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quos?</p>
        </div>
      </div>

      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quos?</p>
        </div>
      </div>
      
      <div>
        <p><a href="#">Show more</a></p>
      </div>

    </div>
  
</div>